body {
    background-color:  #025680;
    color: #03aba0;
    font-family: 'Hubballi', cursive;
    border: 3px solid;
    border-radius: 15px;
}

h1 {
    font-family: 'Mansalva', cursive;
    font-size: 75px;
}

button {
    background-color: #025680;
    color: #03aba0;
    font-family: 'Hubballi', cursive;
    font-size: 18px;
    font-weight: bold;
    border: 3px solid;
    border-radius: 15px;
    padding: 12px 15px;
}

img {
    height: 100px;
    width: 100px;
}

#search-box {
    display: flex;
}

#showMe,#addIt,#startOver {
    background-color: #0395ab;
    color: #025680;
    font-family: 'Hubballi', cursive;
    font-size: 20px;
    font-weight: bold;
    border: 3px solid;
    border-radius: 15px;
    padding: 12px 15px;
}

#new-drink {
    font-size: 20px;
    font-weight: bold;
}